.about-page-container{
 
}
.header{
    display: flex;
    padding: 30px;
    /* border-bottom: 0.5px solid grey; */
    align-items: center;
    font-size: 14px;
    color: #555;
    height: 90px;
}

.header small{
    padding-top: 10px;
    /* color: pink; */

  }

.display-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back-btn{
    width: 70px;
}

.about-text-container{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
}

.about-text-container h2{
    text-align: center;
}

.about-body-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font: bold;
    color: grey;
    font-size: 20px;
    flex-direction: row;
}

.left-about{
    padding: 10px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-about{
    margin-top: 30px;
    padding: 10px;

    width: 50%;
}

