.asset{
    padding: 10px 20px;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
}

.loading-message{
    /* max-width: 1000px; */
    margin: auto;
    left: 47.5%;
    top: 45%;
    position: absolute;
}
.asset-task-container{
    display: flex;
    flex-direction: row;
}

.asset-task-container .section{
    margin: 25px ;

}

.asset-display2{
    flex: 1;
    border: 0.5px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    min-height: 90vh;
    background-color: white;
}

.asset-task-container .asset-display2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.task-content{
    /* background-color: gray; */
    max-height: 85vh;
    overflow-y: scroll;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
    scroll-behavior: auto;
    
}

.task-display{
    /* border-right: 0.5px solid grey; */
    border-radius: 10px;
    flex: 3;
    /* background-color: yellow; */
}

.task{
    border: 0.5px solid grey;
    background-color: white;

}

.task-display .task-header{
    color: grey;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: yellow; */

 }

.task-display .task-header a{
    cursor: pointer;
    color: brown;
    font-weight: bold;
}

.task-display .task-header a:hover{
    font-size: 12.5px
}

 .task-display .task-header .icon{
    font-size: 11.5px;
    margin-right: 5px;
 }

 .task-display .task-content{
     padding: 20px;
     /* background-color: aqua; */
 }

 .task-display .task-content .task-list{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-list .task{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
    flex-direction: column;
}
.task-list .no-task-message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    padding-top: 30px;
    position: absolute;
    top: 40%;
}
.no-task-message{
    padding: 10px;
}