.createAsset{
    display: flex;
    margin: 5%;
    padding: 50px 0px;
    flex-direction: column;
}

.createAsset .title{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.createAsset .createAsset-form{
    display: flex;
    flex-direction: row;
}

.createAsset .createAsset-form .createAsset-data{
    /* background-color: green; */
    flex: 1.5;
}


.createAsset .createAsset-form .createAsset-image-container{
    /* background-color: yellow; */
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    border : 0.5px solid lightgrey;
    height: 150px;
    width: 20px;
}

.createAsset .createAsset-button-container{
    display: flex;
    justify-content: flex-end;

}

.createAsset .createAsset-form .createAsset-image-container:hover{
    
    background-color: lightgray;
}