.createTask{
    display: flex;
    margin: 5%;
    padding: 50px 0px;
    flex-direction: column;
}

.createTask .title{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.createTask .createTask-form{
    display: flex;
    flex-direction: row;
}

.createTask .createTask-form .createTask-data{
    /* background-color: green; */
    flex: 1.5;
}

.createTask .createTask-form .createTask-image-container{
    /* background-color: yellow; */
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    border : 0.5px solid lightgrey;
    height: 150px;
    width: 20px;
}

.createTask .createTask-button-container{
    display: flex;
    justify-content: flex-end;

}

.createTask .createTask-form .createTask-image-container:hover{
    
    background-color: lightgray;
}

.select{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex: 1;
    padding: 12.5px 0px;
    cursor: pointer;
    flex-direction: column;
}

.select-title{
    color: gray;
}

.select-box select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightgray
}