.createTask{
    display: flex;
    /* justify-content: center; */
    margin: 5%;
    /* align-items: flex-start; */
    /* border : 0.5px solid lightgrey; */
    padding: 50px 0px;
    /* background-color: lightblue; */
    flex-direction: column;
}

.createTask .title{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.createTask .createTask-form{
    display: flex;
    flex-direction: row;
}

.createTask .createTask-form .createTask-data{
    /* background-color: green; */
    flex: 1.5;
}
.createTask .createTask-form .form-box{
    /* background-color: green; */
    /* flex: 1.5; */
    /* padding: 30px;
    padding-left: 0px; */

}

.createTask .createTask-form .createTask-image-container{
    /* background-color: yellow; */
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    border : 0.5px solid lightgrey;
    height: 150px;
    width: 20px;
}

.createTask .createTask-button-container{
    display: flex;
    justify-content: flex-end;

}

.createTask .createTask-form .createTask-image-container:hover{
    
    background-color: lightgray;
}

.select{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex: 1;
    padding: 12.5px 0px;
    cursor: pointer;
    /* border : 0.5px solid lightgrey; */
    flex-direction: column;
    /* -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); */
    /* box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47); */
    /* border-radius: 10px; */
    /* height: 100px; */
    
}

.select-title{
    color: gray;
}

.select-box select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightgray
}