.dashboard{
    display: flex;
   
}

.dashboard-container{
    flex: 5;
    /* background-color: aqua; */
}

.dashboard .widgets{
    display: flex;
    padding: 20px;

}

.dashboard .list-container{
    border : 0.5px solid lightgrey;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 50px;
    margin: 20px;
}

.dashboard .list-title{
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}