.input{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex: 1;
    padding: 12.5px 0px;
    cursor: pointer;
    flex-direction: column;
}

.input-title{
    color: gray;
}

.input-box input{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightgray
}