.sidebar{
    flex: 1;
    border-right: 0.5px solid grey;
    min-height: 100vh;
    background-color: white;
}


.sidebar .top {
    height: 100px;
    display: flex;
    align-items: center;

}

.sidebar .logo{
    width: 55px;
    height: 60px;

}


.sidebar .middle{
    /* display: flex; */
    padding: 10px;
    
}

.sidebar .middle ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100vh;

    text-align: center;
    
}

.sidebar li{
    /* display: flex; */
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: 0.5px solid grey;
    text-align: center;
    margin-top: 20px;

}


.sidebar li:hover{
    background-color: black;
    color: white;
    text-align: center;

}

.sidebar .icon{
    font-size: 50px;

}